[build]
  publish = "."

[build.processing]
  skip_processing = false
  
[build.processing.css]
  minify = true
  
[build.processing.js]
  minify = true

[[headers]]
  for = "/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"
